

<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1553px; height: 264px; left: -1px; top: 2483px; position: absolute; background: #179AA6">
        <div style="height: 168px; left: 817px; top: 48px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-end; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; color: #C8EC04; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Introduction</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Logic</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Material & Methods</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Documentation</div>
        </div>
        <div style="height: 168px; left: 1052px; top: 48px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-end; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; color: #C8EC04; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Tool</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Step 1</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Step 2</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Step 3</div>
        </div>
        <div style="height: 168px; left: 1286px; top: 48px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-end; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; color: #C8EC04; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">About Us</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Valentin Laforgue</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Maryam Cherradi</div>
            <div style="align-self: stretch; color: #454545; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Auguste Gardette</div>
        </div>
        <div style="left: 80px; top: 22px; position: absolute; color: #C8EC04; font-size: 64px; font-family: Inter; font-weight: 700; line-height: 96px; word-wrap: break-word">BioMiMiC.</div>
        <div style="left: 80px; top: 176px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 40px; height: 40px; padding: 8px; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <img style="width: 20px; height: 19.92px" src="https://via.placeholder.com/20x20" />
                </div>
            </div>
            <div style="width: 40px; height: 40px; padding: 8px; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <img style="width: 18px; height: 18px" src="https://via.placeholder.com/18x18" />
                </div>
            </div>
            <div style="width: 40px; height: 40px; padding: 8px; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <img style="width: 20px; height: 14px" src="https://via.placeholder.com/20x14" />
                </div>
            </div>
            <div style="width: 40px; height: 40px; padding: 8px; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <img style="width: 20px; height: 20px" src="https://via.placeholder.com/20x20" />
                </div>
            </div>
        </div>
        <div style="width: 1280px; height: 0px; left: 80px; top: 1px; position: absolute; border: 1px #E6E6E6 solid"></div>
    </div>
    <div style="padding-left: 40px; padding-right: 40px; padding-top: 34px; padding-bottom: 34px; left: 0px; top: 0px; position: absolute; background: #007C87; justify-content: center; align-items: center; gap: 622px; display: inline-flex">
        <div style="color: #C8EC04; font-size: 64px; font-family: Inter; font-weight: 700; line-height: 96px; word-wrap: break-word">BioMiMiC.</div>
        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 48px; display: inline-flex">
            <div style="color: #C8EC04; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">Introduction</div>
            <div style="color: #C8EC04; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">Tool</div>
            <div style="color: #C8EC04; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">About</div>
            <div style="padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; background: #C8EC04; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
                <div style="color: #180434; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">Login</div>
            </div>
        </div>
    </div>
    <div style="width: 1552px; height: 767px; left: 0px; top: 927px; position: absolute">
        <div style="width: 1518px; height: 725px; left: 18px; top: 22px; position: absolute; background: #007C87"></div>
        <div style="width: 431px; height: 239px; left: 978px; top: 443px; position: absolute; background: #179AA6"></div>
        <div style="width: 794px; height: 239px; left: 144px; top: 443px; position: absolute; background: #179AA6"></div>
        <div style="width: 1266px; height: 239px; left: 144px; top: 147px; position: absolute; background: #179AA6"></div>
        <div style="left: 182px; top: 257px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 393px; height: 40px; color: #C8EC04; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 36px; word-wrap: break-word">Molecule Function</div>
            <div style="width: 393px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; border: 1px #E0E0E0 solid; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 263px; color: #828282; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">function</div>
            </div>
        </div>
        <div style="padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; left: 1116px; top: 578px; position: absolute; background: #C8EC04; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: flex-end; align-items: flex-end; gap: 8px; display: inline-flex">
            <div style="color: #180434; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Download File</div>
        </div>
        <div style="padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; left: 685px; top: 592px; position: absolute; background: #C8EC04; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: flex-end; align-items: flex-end; gap: 8px; display: inline-flex">
            <div style="color: #180434; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Screen COCONUT</div>
        </div>
        <div style="left: 188px; top: 542px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 393px; height: 40px; color: #C8EC04; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 36px; word-wrap: break-word">Pretrained model :</div>
            <div style="width: 393px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; border: 1px #E0E0E0 solid; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 263px; color: #828282; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">model</div>
            </div>
        </div>
        <div style="left: 685px; top: 257px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 393px; height: 40px; color: #C8EC04; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 36px; word-wrap: break-word">LLM architecture :</div>
            <div style="width: 393px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; border: 1px #E0E0E0 solid; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 263px; color: #828282; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">LLM</div>
            </div>
        </div>
        <div style="padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; left: 1194px; top: 301px; position: absolute; background: #C8EC04; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: flex-end; align-items: flex-end; gap: 8px; display: inline-flex">
            <div style="color: #180434; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Finetune model</div>
        </div>
        <div style="left: 1014px; top: 467px; position: absolute; color: #C8EC04; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">Step 3</div>
        <div style="left: 188px; top: 467px; position: absolute; color: #C8EC04; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">Step 2</div>
        <div style="left: 188px; top: 172px; position: absolute; color: #C8EC04; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">Step 1</div>
        <div style="left: 709px; top: 51px; position: absolute; color: #C8EC04; font-size: 64px; font-family: Inter; font-weight: 700; line-height: 96px; word-wrap: break-word">Tool</div>
    </div>
    <div style="width: 1553px; height: 760px; left: 0px; top: 166px; position: absolute">
        <div style="width: 1518px; height: 725px; left: 18px; top: 12px; position: absolute; background: #180434; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="width: 437.20px; height: 900px; position: relative"> 
                <br>
                    {% for image in images %}
                        {% if image.Biomimic_image.name == "images/girl_with_computer_noUavBx.png" %}
                            <img src="{{ image.Biomimic_image.url }}" alt="girl_with_computers" style="max-width: 100%; max-height: 97%;">
                        {% endif %}
                    {% endfor %}
                </br>
            </div>
        </div>
        <div style="height: 436px; left: 519px; top: 122px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; color: #C8EC04; font-size: 40px; font-family: Inter; font-weight: 600; line-height: 44px; word-wrap: break-word">Introduction</div>
            <div style="width: 516px; height: 292px; color: #E7F1B1; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 36px; word-wrap: break-word"> BioMiMiC is an AI solution for researchers and industries aiming to discover sustainable, bioactive molecules. By using existing molecules, users can easily train a predictive model and then search on un-labelled natural molecule databases.</div>
            <div style="padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; background: #C8EC04; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: flex-end; align-items: flex-end; gap: 8px; display: inline-flex">
                <div style="color: #180434; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">FIND OUT MORE</div>
            </div>
        </div>
        <br>
            {% for image in images %}
                {% if image.Biomimic_image.name == "images/sacharose.png" %}
                    <img src="{{ image.Biomimic_image.url }}" alt="sacharose" style="width: 314.14px; height: 252.21px; left: 1445px; top: 461.08px; position: absolute; transform: rotate(178.18deg); transform-origin: 0 0">
                {% endif %}
            {% endfor %}
        </br>
    </div>
    <div style="width: 1552px; height: 777px; left: 0px; top: 1700px; position: absolute">
        <div style="width: 1518px; height: 725px; left: 18px; top: 20px; position: absolute; background: #C8EC04"></div>
        <div style="width: 478px; height: 587px; left: 1058px; top: 139px; position: absolute">
            <br>
            {% for image in images %}
                {% if image.Biomimic_image.name == "images/buste.png" %}
                    <img src="{{ image.Biomimic_image.url }}" alt="buste">
                {% endif %}
            {% endfor %}
            </br>
            <!-- Image de auguste -->
            <div style="position: absolute; top: 50px; left: 25px;">
                {% for image in images %}
                    {% if image.Biomimic_image.name == "images/auguste.png" %}
                        <img src="{{ image.Biomimic_image.url }}" alt="auguste" style="border-radius: 50%;">
                    {% endif %}
                {% endfor %}
            </div>
            <div style="width: 420px; height: 130px; left: 25px; top: 496px; position: absolute; color: #180434; font-size: 36px; font-family: Inter; font-weight: 700; line-height: 54px; word-wrap: break-word; display: flex; justify-content: center; align-items: center;">
                Auguste GARDETTE
            </div>
        </div>     
        <div style="width: 478px; height: 587px; left: 538px; top: 139px; position: absolute">
            <br>
            {% for image in images %}
                {% if image.Biomimic_image.name == "images/buste.png" %}
                    <img src="{{ image.Biomimic_image.url }}" alt="buste">
                {% endif %}
            {% endfor %}
            </br>
            <!-- Image de maryam -->
            <div style="position: absolute; top: 50px; left: 25px;">
                {% for image in images %}
                    {% if image.Biomimic_image.name == "images/maryam.png" %}
                        <img src="{{ image.Biomimic_image.url }}" alt="maryam" style="border-radius: 50%;">
                    {% endif %}
                {% endfor %}
            </div>
            <div style="width: 420px; height: 130px; left: 25px; top: 496px; position: absolute; color: #180434; font-size: 36px; font-family: Inter; font-weight: 700; line-height: 54px; word-wrap: break-word; display: flex; justify-content: center; align-items: center;">
                Maryam CHERRADI
            </div>
        </div>
        <div style="position: relative; width: 478px; height: 587px; left: 18px; top: 139px;">
            <!-- Image du buste -->
            <div style="position: absolute; top: 19; left: 0;">
                {% for image in images %}
                    {% if image.Biomimic_image.name == "images/buste.png" %}
                        <img src="{{ image.Biomimic_image.url }}" alt="buste">
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Image de Valentin -->
            <div style="position: absolute; top: 50px; left: 25px;">
                {% for image in images %}
                    {% if image.Biomimic_image.name == "images/Valentin.png" %}
                        <img src="{{ image.Biomimic_image.url }}" alt="valentin" style="border-radius: 50%;">
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Texte -->
            <div style="position: absolute; width: 420px; height: 130px; left: 25px; top: 496px; color: #180434; font-size: 36px; font-family: Inter; font-weight: 700; line-height: 54px; word-wrap: break-word; display: flex; justify-content: center; align-items: center;">
                Valentin LAFORGUE
            </div>
        </div>        
        <div style="left: 631px; top: 62px; position: absolute; color: #180434; font-size: 64px; font-family: Inter; font-weight: 700; line-height: 96px; word-wrap: break-word">About Us</div>
    </div>
    <!-- <img style="width: 88px; height: 82px; left: 1430px; top: 757px; position: absolute" src="https://via.placeholder.com/88x82" /> -->
</div>