{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="landing-page">
      <div class="div">
        <div class="navigation-footer">
          <div class="items">
            <div class="text-wrapper">Introduction</div>
            <div class="text-wrapper-2">Logic</div>
            <div class="text-wrapper-2">Material &amp; Methods</div>
            <div class="text-wrapper-2">Documentation</div>
          </div>
          <div class="items-2">
            <div class="text-wrapper">Tool</div>
            <div class="text-wrapper-2">Step 1</div>
            <div class="text-wrapper-2">Step 2</div>
            <div class="text-wrapper-2">Step 3</div>
          </div>
          <div class="items-3">
            <div class="text-wrapper">About Us</div>
            <div class="text-wrapper-2">Valentin Laforgue</div>
            <div class="text-wrapper-2">Maryam Cherradi</div>
            <div class="text-wrapper-2">Auguste Gardette</div>
          </div>
          <div class="text-wrapper-3">BioMiMiC.</div>
          <div class="social-icons">
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="{% static 'img/icon.svg' %}" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-2" src="{% static 'img/icon-1.svg' %}" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-3" src="{% static 'img/icon-2.svg' %}" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="{% static 'img/icon-3.svg' %}" /></div>
            </div>
          </div>
          <img class="divider" src="{% static 'img/divider.svg' %}" />
        </div>
        <div class="navigation">
          <div class="items-4">
            <div class="text-wrapper-4">Introduction</div>
            <div class="text-wrapper-4">Tool</div>
            <div class="text-wrapper-4">About</div>
            <button class="button"><div class="text-wrapper-5">Login</div></button>
          </div>
          <div class="text-wrapper-6">BioMiMiC.</div>
        </div>
        <div class="tool">
          <div class="overlap-group">
            <div class="overlap">
              <button class="div-wrapper"><div class="text-wrapper-7">Download File</div></button>
              <div class="text-wrapper-8">Step 3</div>
            </div>
            <div class="overlap-2">
              <button class="button-2"><div class="text-wrapper-7">Screen COCONUT</div></button>
              <div class="element-input-field-with">
                <div class="text-wrapper-9">Pretrained model :</div>
                <div class="field"><div class="label">model</div></div>
              </div>
              <div class="text-wrapper-10">Step 2</div>
            </div>
            <div class="overlap-3">
              <div class="element-input-field-with-2">
                <div class="text-wrapper-9">Molecule Function</div>
                <div class="field"><div class="label">function</div></div>
              </div>
              <div class="element-input-field-with-3">
                <div class="text-wrapper-9">LLM architecture :</div>
                <div class="field"><div class="label">LLM</div></div>
              </div>
              <button class="button-3"><div class="text-wrapper-7">Finetune model</div></button>
              <div class="text-wrapper-11">Step 1</div>
            </div>
            <div class="text-wrapper-12">Tool</div>
          </div>
        </div>
        <div class="introduction">
          <div class="overlap-4">
            <div class="color-back-ground"><img class="group" src="{% static 'img/group-1.png' %}" /></div>
            <div class="element-paragraph-with">
              <div class="text-wrapper-13">Introduction</div>
              <p class="p">
                 BioMiMiC is an AI solution for researchers and industries aiming to discover sustainable, bioactive
                molecules. By using existing molecules, users can easily train a predictive model and then search on
                un-labelled natural molecule databases.
              </p>
              <button class="button-4"><div class="text-wrapper-7">FIND OUT MORE</div></button>
            </div>
            <img class="image" src="{% static 'img/image-1.png' %}" />
          </div>
        </div>
        <div class="about-us">
          <div class="overlap-5">
            <div class="color-back-ground-2"></div>
            <div class="auguste">
              <div class="overlap-group-2">
                <img class="rectangle" src="{% static 'img/rectangle-1-1.svg' %}" />
                <div class="ellipse"></div>
                <img class="mask-group" src="{% static 'img/mask-group.png' %}" />
                <div class="text-wrapper-14">Auguste GARDETTE</div>
              </div>
            </div>
            <div class="maryam">
              <div class="overlap-group-2">
                <img class="rectangle" src="{% static 'img/rectangle-1-1.svg' %}" />
                <div class="ellipse"></div>
                <img class="mask-group" src="{% static 'img/mask-group-1.png' %}" />
                <div class="text-wrapper-14">Maryam CHERRADI</div>
              </div>
            </div>
            <div class="valetin">
              <div class="overlap-group-2">
                <img class="rectangle" src="{% static 'img/rectangle-1-1.svg' %}" />
                <div class="ellipse"></div>
                <div class="text-wrapper-14">Valentin LAFORGUE</div>
                <img class="mask-group" src="{% static 'img/mask-group-2.png' %}" />
              </div>
            </div>
            <div class="text-wrapper-15">About Us</div>
          </div>
        </div>
        <img class="subtract" src="{% static 'img/subtract.svg' %}" />
      </div>
    </div>
  </body>
</html>
